.inputPassword{
	border: 2px solid #e9ab74;
	border-radius: 8px;
	width:336px;
	height:48px;
	padding: 14px 0 14px 24px;
}
.error-message{
	display: block;
	width: 100%;
	max-width: 330px;
	text-align: center;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	color:white;
	background-color: #D64747;
}
