.tableproducts {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	&__table {
		display: flex;
		flex-direction: column;
		border: 2px solid #e9ab74;
		border-radius: 12px;
		background: rgba(233, 171, 116, 0.13);
		width: 950px;
		height: 100%;
		margin-bottom: 35px;
	}
	&__title {
		padding-top: 11px;
		padding-bottom: 11px;
		text-align: center;
		font-weight: 500;
		font-size: 20px;
		color: #000;
	}

	&__thead-list {
		display: flex;
		align-items: center;
		justify-content: space-around;
		border: 1px solid #e9ab74;
		border-radius: 12px;
		padding: 12px 0;
		margin-left: 25px;
		margin-right: 25px;
		background: #fff;
	}

	&__thead-list-item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__tbody {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&__tbody-list {
		display: flex;
		align-items: center;
		gap: 22px;
		padding: 12px 0;
		margin-left: 25px;
		margin-right: 25px;
	}
	&__tbody-list-item {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #e9ab74;
		border-radius: 12px;
		background: #fff;
		padding: 12px;
		height: 55px;
		font-size: 12px;

		&-48 {
			width: 48px;
		}
		&-162 {
			width: 155px;
		}

		&-140 {
			width: 125px;
		}

		&-120 {
			width: 120px;
		}

		&-125 {
			width: 125px;
		}

		&-90 {
			width: 97px;
		}
	}

	&__tbody-list-button {
		margin-right: 15px;
		&-save {
			background-color: #e9ab74;
			color: white;
			margin-right: 5px;
			margin-left: 5px;
			padding: 5px 10px;
			border-radius: 12px;
		}
		&-cancel {
			background-color: #f44336;
			color: white;
			padding: 5px 10px;
			border-radius: 12px;
		}

		&-edit, &-delete {
			background: none;
			border: none;
			cursor: pointer;
			padding: 5px;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.separator {
	display: inline-block;
	width: 1px;
	height: 16px;
	background-color: #e9ab74;
	margin-left: 25px;
	margin-right: 5px;
	vertical-align: middle;
}
