

.card {
	margin-top: 45px;
	margin-bottom: 40px;
	border: 2px solid #e9ab74;
	border-radius: 12px;
	width: 848px;
	height: 200px;

	&__content {
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__images{
		width: 100%;
		max-width: 160px;
	}

	&__info {
		width: 100%;
		max-width: 360px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__buttons {
		margin-top: auto;
	}
}
