.select {
	width: 328px;
	height: 48px;
	margin-top: 86px;
	margin-left: 91px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 24px;
	padding-right: 20px;
	border: 2px solid #e9ab74;
	border-radius: 8px;
	color: #e9ab74;
}
